* {
	box-sizing: border-box;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
}

aside {
	background-color: lightgray;
	display: flex;
	flex-direction: column;
}

.board {
	width: 100%;
	height: 100%;
	background-color: gray;
	overflow: hidden;
}

.board > p {
	position: relative;
	z-index: 22;
	text-align: center;
	top: 50px;
	left: 50px;
}
